
.grad{
  margin: 70px 40px 20px 150px;
}

.grad-name{
  display: flex;
  justify-content: center;
  font-family: "Tisa-Sans-Medium";
  -webkit-font-smoothing: antialiased;
}
.grad-img{
  display: flex;
  justify-content: center;
}
.pinned-repos{
  margin-left: 20em;
  width: 70%;
}

.pinned-repos li {
  background-color: #ffffff;
  border: 1px solid rgba(32,47,55,0.1);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(32,47,55,0.1);
  width: 20em;
  height: 15em;
  display: inline-block;
  margin-bottom: 36px;
  overflow: hidden;
  text-decoration: none;
  color: #c1c9d8;
  border-radius: 3px;
  font-family: 'Tisa-Sans-Medium';
  padding-bottom: 10px;
  vertical-align: top;
}
.pinned-repos-title{
  font-size: 12px;
}
.pinned-repos-disc{
  word-wrap: break-word;
}
